.App {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  margin-bottom: 15px;
}

.number {
  margin-bottom: 10px;
  font-size: 60px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}
